@namespace BlazorWasmPlanner.Components

<MudPaper Elevation="1" Class="mt-2 px-3">
    <div class="d-flex flex-row align-center">
        <MudCheckBox @bind-Checked="@_isChecked" Color="Color.Primary" Class="flex-grow-0 flex-shrink-0 mr-2"></MudCheckBox>

        @if (_isEditMode)
        {
            <MudItem xs="12" sm="6" md="4">
                <MudTextField @bind-Value="_description" Label="Outlined" Variant="Variant.Outlined" Margin="Margin.Dense" Class="flex-grow-1 flex-shrink-0 mr-2">
                </MudTextField>
            </MudItem>

            <MudIconButton Icon="@Icons.Material.Filled.Cancel" Color="Color.Primary" Class="flex-grow-1 flex-shrink-0 mr-1"
              OnClick="() => ToggleEditMode(true)" />

            <MudIconButton Icon="@Icons.Material.Filled.Save" Color="Color.Success" Class="flex-grow-1 flex-shrink-0 mr-2"
               />
        }
        else
        {
            <MudText Typo="Typo.body1" Class="flex-grow-1 flex-shrink-0 mr-2"
                 Style="cursor:pointer"
                 @onclick="() => ToggleEditMode(false)">
                @Item.Description
             </MudText>

        }

        <MudIconButton Icon="@Icons.Material.Filled.Delete" Color="Color.Error" Class="flex-grow-1 flex-shrink-0 mr-2"></MudIconButton>
    </div>
</MudPaper>